<div id="aggrementModal" role="dialog" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            
            <button type="button" class="close" ng-click="closeMAggrementModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">{{'MODAL_AGGREMENT' | translate}}</h3>
        </div>
        <div class="modal-body aggrementModal">
            <p ng-bind-html="aggrementText"></p>
        </div>
      </div>
    </div>
</div>