<div class="container">
	<nav class="navbar navbar-inverse" ng-show="navbarLoginControl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Stok Takip</a>
			</div>
			<ul class="nav navbar-nav">				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" bs-dropdown="dropdown" data-toggle="dropdown">Kombi İşlemleri
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Yeni Kombi Ekle</a>
						</li>
						<li>
							<a href="#">Kombi Satış/Alış işlemleri</a>
						</li>
						<li>
							<a href="#">Stok Durumu</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" bs-dropdown="dropdown" data-toggle="dropdown">Petek İşlemleri
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Yeni Petek Ekle</a>
						</li>
						<li>
							<a href="#">Petek Satış/Alış işlemleri</a>
						</li>
						<li>
							<a href="#">Stok Durumu</a>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" bs-dropdown="dropdown" data-toggle="dropdown">Arza Kayıt İşlemleri
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Arza Kayıtlarını Listele</a>
						</li>
						<li>
							<a href="#">Yeni Arza Kaydı Oluştur</a>
						</li>
					</ul>
				</li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" bs-dropdown="dropdown" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Kullanıcı İşlemleri
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/newuser">Yeni Kullanıcı Ekle</a>
						</li>
						<li>
							<a href="#">Şifre Değiştir</a>
						</li>
						<li>
							<a href="/users">Kullanıcıları Listele</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/login">Çıkış</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>